* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}

.flex {
    display: flex;
}

.interface {
    max-width:  1280px;
    margin: 0 auto;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(94, 92, 92);
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    position: 10px 40px;
    font-size:  18px;
    font-weight: 700;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #6a0dad; 
    color: black;
    padding: 12px 24px;
    border: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.topo-do-site .btn-contato button {
    font-size: 12px;
}


.btn-contato button:hover {
    box-shadow: 
    0 0 20px rgba(106, 13, 173, 1), 
    0 0 40px rgba(106, 13, 173, 1), 
    0 0 60px rgba(106, 13, 173, 1);
  transform: scale(1.05);
}

.nome {
    color: white;
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site h1 span {
    color: blueviolet;
}

.topo-do-site p {
    color: white;
    margin: 40px 0;
}

.img-topo-site img {
    width: 400px;
    height: 400px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}